/* ==========================================================================
   Body Container
========================================================================== */

.body-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: 3fr 15fr 2fr;
    grid-template-columns: 1fr;
    height: 100vh;
}

/* ==========================================================================
   Header Container
========================================================================== */

.header-container {
    display: grid;
    grid-template-areas:
    "nav-container header-heading";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    height: 100%;
    place-items: center;
    margin: 0 auto;
}

#header-heading {
    place-self: center end;
}

/* Nav Container
========================================================================== */

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* ==========================================================================
   Main Containers
========================================================================== */

.breakeven-container {
    display: grid;
    grid-template-areas:
    "section-one-be section-two-be"
    "section-one-be empty";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 90%;
    width: 75%;
    gap: 5rem;
    margin: auto;
    margin-top: 3rem;
}

#section-one-be {
    grid-area: section-one-be;
}

#section-two-be {
    grid-area: section-two-be;
}

.section-one-container {
    display: grid;
    grid-template-areas:
    "ticker-label ticker-label"
    "ticker-input ticker-input"
    "long-short-heading call-put-heading"
    "long-short-select call-put-select"
    "underlying-price-label strike-price-label"
    "underlying-price-input strike-price-input"
    "premium-price-label premium-price-label"
    "premium-price-input premium-price-input"
    "be-calc-button be-calc-button";
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    place-items: center;
}

#ticker-label {
    grid-area: ticker-label;
}

#ticker-input {
    grid-area: ticker-input;
    place-self: start center;
}

#long-short-heading {
    grid-area: long-short-heading;
}

#long-short-select {
    grid-area: long-short-select;
    place-self: start center;
}

#call-put-heading {
    grid-area: call-put-heading;
}

#call-put-select {
    grid-area: call-put-select;
    place-self: start center;
}

#underlying-price-label {
    grid-area: underlying-price-label;
}

#underlying-price-input {
    grid-area: underlying-price-input;
    place-self: start center;
}

#strike-price-label {
    grid-area: strike-price-label;
}

#strike-price-input {
    grid-area: strike-price-input;
    place-self: start center;
}

#premium-price-label {
    grid-area: premium-price-label;
}

#premium-price-input {
    grid-area: premium-price-input;
    place-self: start center;
}

#be-calc-button {
    grid-area: be-calc-button;
    place-self: start center;
}

.section-two-container {
    display: grid;
    place-items: center;
    height: 100%;
}

.form4-container {
    display: grid;
    grid-template-areas:
    "section-one-form4 section-two-form4"
    "empty section-two-form4";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 90%;
    width: 75%;
    gap: 5rem;
    margin: auto;
    margin-top: 3rem;
}

.section-one-container-form4 {
    display: grid;
    grid-template-areas:
    "ticker-label"
    "ticker-input"
    "form4-button";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    height: 100%;
    place-items: center;
}

/* ==========================================================================
   Footer Container
========================================================================== */

.footer-container {
    display: grid;
    height: 100%;
    place-items: center;
}

/* Regular Comment */